@import 'fonts.scss';
@import 'variables.scss';
@import 'page.scss';
@import 'form.scss';
@import 'pages.scss';


/*Reset
===============*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-family: $ff;
	line-height: 1;
	font-size: 16px;
	color: $bl;
	background-color: $wh;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; }
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body.hidden {
	overflow: hidden;
}

.container {
	width: 100%;
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.wrapper {
	min-height: 100vh;
	overflow: hidden;
	position: relative;
}

.section {
	margin-bottom: 80px;
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: $ffi;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 0.02em;
	color: $wh;
	text-transform: uppercase;
	transition: all .2s linear;
	padding: 20px 24px;
	background-color: $blue;
	box-shadow: 0px 5px 15px rgba(27, 78, 147, 0.25), 0px 2px 2px rgba(25, 85, 167, 0.21);
	&:hover {
		box-shadow: 0px 5px 15px rgba(27, 78, 147, 0.1);
	}
	&_onblack {
		box-shadow: 0px 7px 15px rgba(20, 30, 44, 0.5), 0px 2px 2px #082246;
		&:hover {
			box-shadow: 0px 7px 15px #1C3B65;
		}
	}
}

.title {
	font-family: $ffi;
	font-size: 48px;
	font-weight: 600;
	color: $bl;
	line-height: 1.2;
	text-transform: uppercase;
	&_bold {
		font-weight: 700;
	}
	@media(max-width: 1600px) {
		@include adaptive-font(48, 30);
	}
}

.title-small {
	font-family: $ffi;
	font-size: 30px;
	font-weight: 700;
	color: $bl;
	line-height: 1.2;
	text-transform: uppercase;
	@media(max-width: 1600px) {
		@include adaptive-font(30, 24);
	}
}

.title-medium {
	font-family: $ffi;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.21;
	color: $bl;
	@media(max-width: 1600px) {
		@include adaptive-font(36, 24);
	}
	&_center {
		text-align: center;
	}
}

.title-big {
	font-family: $ffi;
	font-size: 48px;
	font-weight: 700;
	color: $bl;
	line-height: $lh;
	@media(max-width: 1600px) {
		@include adaptive-font(48, 22);
	}
}

.description {
	font-family: $ff;
	font-size: 16px;
	font-weight: 400;
	color: $gray;
	line-height: 1.5;
	&_big {
		font-size: 18px;
	}
	p {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	a {
		color: $blue;
	}
	.bold {
		font-weight: 700;
	}
}

/*==========Slider-arrow=========*/
.slider-arrows {
	display: flex;
	align-items: center;
	.swiper-pagination {
		position: static;
	}
	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		background-color: $gray3;
		opacity: 1;
		margin: 0 20px 0 0!important;
		&:last-child {
			margin-right: 0!important;
		}
	}
	.swiper-pagination-bullet-active {
		background-color: $bl;
	}
	&_blue {
		.swiper-pagination-bullet-active {
			background-color: $blue;
		}
		.slider-arrow {
			&:hover {
				svg {
					fill: $blue;
				}
			}
		}
	}
}

.slider-arrow {
	cursor: pointer;
	height: 20px;
	svg {
		width: 20px;
		height: 20px;
		fill: #C4C4C4;
		transition: all .2s linear;
	}
	&_next {
		svg {
			transform: rotate(180deg);
		}
	}
	&:hover {
		svg {
			fill: $bl;
		}
	}
}
/*==========/slider-arrow=========*/

/*=========Tabs=========*/
.tab_2, .tab_3, .tab_4,
.tab_5, .tab_6, .tab_7, .tab_8,
.tab_9, .tab_10, .tab_11, 
.tab_12, .tab_13, .tab_14, .tab_15 {
	display: none;
}
/*=========/tabs=========*/


/*==========Intro==========*/
.intro {
	background: linear-gradient(90deg, rgba(35,37,41,0.4) 0%, rgba(35,37,41,0.4) 35%, rgba(35,37,41,0.4) 100%), url("../images/intro-bg.jpg") bottom 30% center no-repeat;
	background-size: cover;
	padding: 150px 0 175px;
	&__title {
		font-family: $ffi;
		font-size: 48px;
		font-weight: 700;
		color: $wh;
		line-height: 1.33333;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		margin-bottom: 20px;
		@media(max-width: 1600px) {
			@include adaptive-font(48, 26);
		}
	}
	&__description {
		max-width: 650px;
		font-family: $ff;
		font-size: 18px;
		font-weight: 400;
		color: $wh;
		line-height: 1.3333;
		margin-bottom: 64px;
	}
	.btn {
		span {
			&:nth-child(2) {
				display: none;
			}
		}
	}
}
/*==========/intro==========*/

/*=========About========*/
.about {
	&_repair {
		padding: 80px 0;
		.about-video {
			width: 57.8%;
		}
		.about__info {
			width: 42.2%;
		}
	}
	&__inner {
		display: flex;
		align-items: center;
	}
	&-video {
		width: 65.7%;
		position: relative;
		cursor: pointer;
		&__content {
			>* {
				width: 100%;
				min-height: 200px;
				object-fit: cover;
			}
		}
		&__icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: all .2s linear;
			&.hide {
				opacity: 0;
			}
			img {
				width: 120px;
			}
		}
	}
	&__info {
		width: 34.3%;
		padding-left: 60px;
	}
	&__title {
		margin-bottom: 24px;
	}
	&__description {
		margin-bottom: 40px;
	}
}
/*=========/about========*/

/*=========History============*/
.history {
	padding: 60px 0;
	background-color: $lgray;
	&__inner {
		display: flex;
		align-items: center;
	}
	&__info {
		width: 65.7%;
	}
	&__certificates {
		width: 34.3%;
		padding-left: 128px;
	}
	&__title {
		margin-bottom: 30px;
	}
	&__description {
		margin-bottom: 60px;
	}
	&-founder {
		display: flex;
		align-items: center;
		&__info {
			margin-right: 24px;
		}
		&__name {
			font-family: $ff;
			font-size: 18px;
			font-weight: 700;
			color: #000;
			line-height: $lh3;
		}
		&__stat {
			font-family: $ff;
			font-size: 14px;
			font-weight: 400;
			color: #999;
			line-height: 1.7;
		}
		&__sign {
			img {
				width: 220px;
				max-width: 100%;
			}
		}
	}
}
/*=========/history============*/

/*========Certificates===========*/
.certificates {
	&__slide {
		margin-bottom: 26px;
	}
	&__photo {
		padding: 21px;
		position: relative;
		z-index: 1;
		margin-bottom: 20px;
		&:before {
			content: "";
			width: 100%;
			height: 100%;
			background: url("../images/border.png") center no-repeat;
			background-size: 100% 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
		&:after {
			content: "";
			width: 100%;
			height: 100%;
			background: #000;
			opacity: .25;
			filter: blur(3.5px);
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
		}
	}
	&__zoom {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		opacity: 0;
		transition: all .2s linear;
		pointer-events: none;
		&:after {
			content: "";
			width: 100%;
			height: 100%;
			background-color: $blue;
			opacity: 0.5;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			transition: all .2s linear;
		}
		&:before {
			content: "";
			width: 70px;
			height: 70px;
			background-color: rgba(255, 255, 255, .95);
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
		}
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 3;
		}
	}
	&__img {
		cursor: pointer;
		position: relative;
		z-index: 1;
		/*&:before {
			content: "";
			width: calc(100% + 5px);
			height: calc(100% + 5px);
			background: #000000;
			filter: blur(7.5px);
			position: absolute;
			top: -2.5px;
			left: -2.5px;
			z-index: -1;
			box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2) inset;
		}*/
		&:before {
			pointer-events: none;
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.3) inset;
		}
		&:hover {
			.certificates__zoom {
				opacity: 1;
			}
		}
		>img {
			width: 100%;
		}
	}
	&__description {
		font-family: $ff;
		font-size: 14px;
		font-weight: 400;
		color: $gray2;
		line-height: 1.55;
	}
}
/*========/certificates===========*/

/*=========Advantages========*/
.advantages {
	&__inner {
		display: flex;
		align-items: flex-start;
	}
	&__head {
		width: 51.5%;
		padding-right: 36px;
	}
	&__info {
		width: 48.5%;
	}
	&__title {
		margin-bottom: 25px;
	}
	&__description {
		margin-bottom: 40px;
	}
	&__item {
		margin-bottom: 26px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__name {
		font-family: $ffi;
		font-size: 30px;
		font-weight: 600;
		color: $bl;
		line-height: 1.2;
		text-transform: uppercase;
		padding-left: 50px;
		position: relative;
		cursor: pointer;
		@media(max-width: 1600px) {
			@include adaptive-font(30, 18);
		}
		&:before {
			content: "";
			width: 23px;
			height: 3px;
			background-color: $bl;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 8.33px;
			z-index: 1;
			transition: all .2s linear;
		}
		&:after {
			content: "";
			width: 3px;
			height: 23px;
			background-color: $bl;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 18.33px;
			z-index: 1;
			transition: all .2s linear;
		}
		&.active {
			&:before, &:after {
				background-color: #828282;
			}
			&:after {
				transform: translateY(-50%) rotate(90deg);
			}
		}
	}
	&__text {
		display: none;
		padding-top: 16px;
		padding-left: 50px;
		a {
			color: $blue;
		}
	}
	.btn {
		padding: 20px 32px;
	}
}
/*=========/advantages========*/

/*==========Models=========*/
.models {
	overflow: hidden;
	padding-top: 118px;
	position: relative;
	z-index: 1;
	&__blur {
		width: 1256px;
		height: 252px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
		opacity: 0.1;
		filter: blur(100px);
		&:after {
			content: "";;
			width: 100%;
			height: 100%;
			background-color: #000;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			border-radius: 60%;
			opacity: 0.5;
		}
	}
	&__title {
		margin-bottom: 30px;
	}
	&__description {
		margin-bottom: 40px;
	}
	.tabs-nav {
		display: flex;
		justify-content: space-between;
		position: relative;
		&:after {
			content: "";
			width: 100%;
			height: 3px;
			background-color: #e7e7e7;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;
		}
		a {
			padding: 0 10px 30px;
			display: inline-block;
			font-family: $ff;
			font-size: 18px;
			font-weight: 400;
			color: #000;
			line-height: 1.22;
			position: relative;
			&:after {
				content: "";
				width: 100%;
				height: 3px;
				background-color: $blue;
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 2;
				opacity: 0;
				transition: all .2s linear;
			}
			&.active {
				&:after {
					opacity: 1;
				}
			}
		}
	}
	&__inner {
		display: flex;
	}
	&__item {
		padding: 41px 5px 0 5px;
		text-align: center;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			.models__photo {
				img {
					transform: scale(1.1);
				}
			}
			.models__name {
				color: $bl;
			}
		}
	}
	&__photo {
		margin-bottom: 45px;
		transition: all .3s linear;
		img {
			width: 200px;
			max-height: 120px;
			max-width: 100%;
			transition: all .3s linear;
		}
	}
	&__name {
		font-family: $ff;
		font-size: 16px;
		font-weight: 400;
		color: $blue;
		line-height: 1.5;
		transition: all .3s linear;
	}
}
/*==========/models=========*/

/*=========Service==========*/
.service {
	&_bw {
		.service__title {
			font-size: 30px;
			@media(max-width: 1600px) {
				@include adaptive-font(30, 22);
			}
		}
		.service__wrapper {
			margin-bottom: -28px;
		}
		.service__item {
			margin-bottom: 28px;
			width: calc(28.65% - 30px);
			.service__info {
				width: 84%;
			}
			&_large, &_big {
				.service__info {
					width: 89.5%;
				}
			}
			&_big {
				width: calc(37.5% - 30px);
			}
			&_large {
				width: calc(42.7% - 30px);
			}
			&:hover {
				.service__photo {
					&:after {
						opacity: 0.65;
					}
				}
			}
		}
		.service__photo {
			position: relative;
			z-index: 1;
			img {
				filter: grayscale(1);
			}
			&:after {
				content: "";
				width: 100%;
				height: 100%;
				background-color: $blue;
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				transition: all .2s linear;
				z-index: 2;
			}
		}
		.service__info {
			width: 89.5%;
		}
		.service__price {
			font-family: $ffi;
			font-weight: 600;
		}
		.service__photo {
			img {
				height: 250px;
			}
		}
		.service__contact {
			bottom: 31px;
		}
	}
	&_repair {
		.service__title {
			font-size: 28px;
			@media(max-width: 1600px) {
				@include adaptive-font(28, 22);
			}
			&_many {
				font-size: 27px;
				@media(max-width: 1600px) {
					@include adaptive-font(27, 22);
				}
			}
		}
	}
	&__maintitle {
		margin-bottom: 40px;
	}
	&__subtitle {
		margin-bottom: 40px;
	}
	&__inner {
		position: relative;
		margin-right: -30px;
		&.swiper {
			margin-right: -30px;
		}
	}
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -40px;
	}
	&__item {
		display: block;
		width: calc(29.25% - 30px);
		margin-right: 30px;
		margin-bottom: 40px;
		position: relative;
		padding-bottom: 33px;
		&.swiper-slide {
			width: calc(29.25% - 30px);
			margin-right: 30px;
		}
		&_big {
			width: calc(37.5% - 30px);
			&.swiper-slide {
				width: calc(37.5% - 30px);
			}
		}
		&_large {
			width: calc(41.5% - 30px);
			margin-right: 30px;
			&.swiper-slide {
				width: calc(41.5% - 30px);
				margin-right: 30px;
			}
		}
		&:hover {
			.service__title {
				color: $bl;
			}
		}
	}
	&__photo {
		img {
			height: 280px;
			width: 100%;
			object-fit: cover;
		}
	}
	&__info {
		background-color: $wh;
		padding: 15px 0 0 17px;
		width: 72.5%;
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 1;
	}
	&__title {
		font-family: $ffi;
		font-size: 32px;
		font-weight: 700;
		color: $blue;
		line-height: 1.125;
		margin-bottom: 10px;
		transition: all .2s linear;
		@media(max-width: 1600px) {
			@include adaptive-font(32, 18);
		}
	}
	&__price {
		font-family: $ff;
		font-size: 16px;
		font-weight: 400;
		color: $bl;
		line-height: 1.125;
	}
	&__contact {
		width: 22.5%;
		position: absolute;
		right: 30px;
		bottom: 33px;
		z-index: 1;
		.contact-box {
			height: 280px;
		}
		&_big {
			width: 38.4%;
		}
	}
}
/*=========/service==========*/

/*========Contact-box=========*/
.contact-box {
	padding: 32px;
	background-color: $blue;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&_more {
		padding: 30px 20px;
		justify-content: center;
	}
	&__title {
		font-family: $ffi;
		font-size: 32px;
		font-weight: 700;
		color: $wh;
		line-height: 1.125;
		margin-bottom: 20px;
		&.mb-40 {
			margin-bottom: 40px;
			padding-left: 10px;
		}
		@media(max-width: 1600px) {
			@include adaptive-font(32, 22);
		}
	}
	&__description {
		font-family: $ff;
		font-size: 14px;
		font-weight: 400;
		line-height: $lh;
		color: $wh;
		opacity: 0.75;
		margin-bottom: 10px;
	}
	&__phone {
		font-family: $ff;
		font-size: 18px;
		font-weight: 700;
		line-height: $lh;
		color: $wh;
		margin-bottom: 9px;
		display: inline-block;
	}
	&__whatspp {
		display: flex;
		align-items: center;
		span {
			font-family: $ff;
			font-size: 14px;
			font-weight: 700;
			color: $wh;
			line-height: $lh;
			margin-right: 8px;
			position: relative;
			&:after {
				content: "";
				width: 100%;
				height: 1px;
				background-color: $wh;
				opacity: 0.25;
				position: absolute;
				left: 0;
				top: 100%;
				z-index: 1;
				transition: all .2s linear;
			}
			&:hover {
				&:after {
					opacity: 1;
				}
			}
		}
	}
	&__row {
		display: flex;
		>* {
			margin-right: 13px;
			&:last-child {
				margin-right: 0;
			}
		}
		.contact-box__list {
			&-name {
				font-size: 15px;
			}
		}
	}
	&__list {
		&_min {
			padding-left: 8px;
			.contact-box__list-name {
				font-size: 16px;
			}
		}
		&-price {
			display: none;
		}
		&-name {
			display: block;
			color: $wh;
		}
		li {
			font-family: $ff;
			font-size: 18px;
			font-weight: 700;
			color: $wh;
			line-height: $lh;
			padding-left: 21px;
			position: relative;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
			&:before {
				content: "";
				width: 5px;
				height: 5px;
				background-color: $wh;
				border-radius: 50%;
				position: absolute;
				top: 7px;
				left: 0;
			}
		}
	}
}
/*========contact-box=========*/

/*==========Repair===========*/
.repair {
	&__box {
		padding-top: 70px;
		position: relative;
		padding-left: 60px;
		padding-bottom: 80px;
		overflow: hidden;
		z-index: 1;
		&:after {
			content: "";
			width: 78.5%;
			height: 252px;
			filter: blur(100px);
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 50%);
			z-index: -1;
			opacity: 0.05;
			background-color: $bl;
			border-radius: 60%;
			pointer-events: none;
		}
		&:before {
			content: "";
			width: 5px;
			height: 100%;
			border-left: 2px dotted #E7E7E7;
			position: absolute;
			top: 0;
			left: 12px;
			z-index: 1;
		}
		&:first-child {
			padding-top: 0;
			&:before {
				top: 12px;
			}
			.repair__price {
				top: 5px;
			}
		}
		&:nth-child(2) {
			.repair__description {
				margin-bottom: 90px;
			}
		}
		&:last-child {
			&:before {
				height: calc(100% - 106.5px);
			}
			.repair__description {
				margin-bottom: 112px;
			}
		}
	}
	&__title {
		display: inline-block;
		font-family: $ffi;
		font-size: 36px;
		font-weight: 600;
		color: $bl;
		line-height: 1.21;
		margin-bottom: 30px;
		@media(max-width: 1600px) {
			@include adaptive-font(36, 22);
		}
		position: relative;
		&:before {
			content: "";
			width: 26px;
			height: 26px;
			border: 2px solid #E7E7E7;
			position: absolute;
			top: 50%;
			left: -60px;
			z-index: 1;
			transform: translateY( -50%);
			background: url("../images/check.svg") center no-repeat, $wh;
		}
	}
	&__description {
		margin-bottom: 64px;
		max-width: 593px;
		&.max-495 {
			max-width: 495px;
		}
	}
	.btn {
		position: relative;
		z-index: 1;
		&:before {
			content: "";
			width: 45px;
			height: 2px;
			border-top: 2px dotted #E7E7E7;
			position: absolute;
			top: 50%;
			left: 0;
			z-index: 1;
			transform: translate(-100%, -50%);
			z-index: 1;
		}
	}
	&__price {
		width: 140px;
		position: absolute;
		top: 70px;
		right: 25px;
		z-index: 1;
		&:after {
			content: "";
			width: 50px;
			height: 2px;
			border-top: 2px dotted #E7E7E7;
			position: absolute;
			top: 50%;
			left: -10px;
			z-index: 1;
			transform: translate(-100%, -50%);
			z-index: 1;
		}
		&:before {
			content: "";
			width: 2px;
			height: 120px;
			border-left: 2px dotted #E7E7E7;
			position: absolute;
			top: calc(50% + 2px);
			left: -60px;
			z-index: 1;
			z-index: 1;
		}
		&-num {
			font-family: $ffi;
			font-size: 24px;
			font-weight: 600;
			color: $bl;
			line-height: 1.25;
			margin-bottom: 5px;
		}
		&-desc {
			font-family: $ff;
			font-size: 13px;
			font-weight: 400;
			color: $gray;
			line-height: 1.38;
			text-transform: uppercase;
		}
	}
	&__info {
		width: 62%;
		position: relative;
		z-index: 2;
	}
	&__content {
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 1;
		height: 100%;
		display: flex;
		align-items: flex-end;
		padding-bottom: 30px;
		&_transm {
			width: 61.9%;
		}
		&_engine {
			width: 45.4%;
			.repair__price {
				&:after {
					left: auto;
					right: calc(50% + 2px);
					top: calc(100% + 126.5px);
					transform: translate(0, 0);
				}
				&:before {
					left: 50%;
					top: calc(100% + 8px);
					transform: translate(-50%, 0);
				}
			}
		}
		&_body {
			width: 44.7%;
			padding-bottom: 50px;
		}
	}
	&__photo {
		img {
			max-width: 100%;
		}
	}
}
/*==========/repair===========*/

/*==========Laboratory============*/
.laboratory {
	&__photo {
		width: 100%;
		position: relative;
		&:after {
			content: "";
			width: 100%;
			height: 37%;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, #FFFFFF 100%);
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;
		}
		img {
			width: 100%;
			max-height: 619px;
			object-fit: cover;
			object-position: 50% 60%;
		}
	}
	&__inner {
		margin-top: -150px;
		position: relative;
		z-index: 2;
	}
	&__title {
		margin-bottom: 30px;
	}
	&__description {
		margin-bottom: 40px;
	}
}
/*==========/laboratory============*/

/*============Projects=========*/
.projects {
	&__inner {
		margin-top: 30px;
		display: flex;
		margin-left: -30px;
		margin-bottom: -20px;
		flex-wrap: wrap;
		>* {
			width: calc(50% - 30px);
			margin-left: 30px;
			margin-bottom: 20px;
		}
	}
	&__box {
		padding-top: 40.5%;
		position: relative;
		background-color: #000;
		overflow: hidden;
		&:hover {
			.projects__photo {
				width: 115%;
			}
		}
	}
	&__item {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		padding: 20px;
		display: flex;
		align-items: flex-end;
	}
	&__photo {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		opacity: 0.6;
		transition: all .2s linear;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__info {
		position: relative;
		z-index: 2;
	}
	&__name {
		display: flex;
		align-items: center;
		margin-bottom: 13px;
		img {
			margin-right: 10px;
		}
		span {
			font-family: $ff;
			font-size: 24px;
			font-weight: 400;
			color: $wh;
			line-height: 1.25;
			text-transform: uppercase;
			@media(max-width: 1600px) {
				@include adaptive-font(24, 16);
			}
		}
	}
	&__desc {
		font-family: $ff;
		font-size: 18px;
		font-weight: 400;
		color: $wh;
		line-height: 1;
		margin-bottom: 13px;
	}
	&__btn {
		padding: 17px;
		display: inline-flex;
		align-items: center;
		background: rgba(255,255,255,.3);
		transition: all .2s linear;
		svg {
			width: 9px;
			height: 13px;
			fill: $wh;
			margin-left: 40px;
			transition: all .2s linear;
		}
		span {
			font-family: $ff;
			font-size: 14px;
			font-weight: 700;
			color: $wh;
			text-transform: uppercase;
			line-height: 1.28;
			transition: all .2s linear;
		}
		&:hover {
			background: rgba(255,255,255, 1);
			span {
				color: $blue;
			}
			svg {
				fill: $blue;
			}
		}
	}
}
/*============/projects=========*/

/*========Application======*/
.application {
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 40px;
	}
	&__title {
		font-family: $ffi;
		font-size: 36px;
		font-weight: 600;
		color: $bl;
		line-height: 1.21;
		margin-right: 15px;
		flex: 1 1 auto;
		@media(max-width: 1600px) {
			@include adaptive-font(36, 30);
		}
	}
	.form {
		&__row {
			margin-left: -20px;
			.form__item {
				margin-left: 20px;
				width: calc(24.3% - 20px);
				&:last-child {
					flex: 1 1 auto;
				}
			}
			.btn {
				span {
					&:nth-child(2) {
						display: none;
					}
				}
			}
		}
	}
	&_to {
		.form {
			&__row {
				.form__item {
					width: calc(26.8% - 20px);
					&:last-child {
						width: auto;
					}
				}
			}
		}
	}
}
/*========/application======*/

/*==========Photogallery==========*/
.photogallery {
	margin-bottom: 10px;
	&.section {
		margin-bottom: 80px;
	}
	&.mb-0 {
		margin-bottom: 0;
	}
	&__title {
		font-family: $ffi;
		font-size: 24px;
		font-weight: 700;
		color: $bl;
		line-height: $lh;
		text-align: center;
		margin-bottom: 20px;
		text-transform: uppercase;
		display: none;
	}
	.swiper {
		overflow: visible;
	}
	&__slide {
		cursor: pointer;
		img {
			width: 100%;
			height: 270px;
			object-fit: cover;
		}
		&:after {
			content: "";
			width: 100%;
			height: 100%;
			background-color: $blue;
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			transition: all .2s linear;
			pointer-events: none;
		}
		&:before {
			content: "";
			width: 70px;
			height: 70px;
			background: url("../images/zoom-icon.svg") center no-repeat,  rgba(255, 255, 255, .95);
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
			pointer-events: none;
			opacity: 0;
		}
		&:hover {
			&:after {
				opacity: 0.5;
			}
			&:before {
				opacity: 1;
			}
		}
	}
	&__arrow {
		cursor: pointer;
		width: 60px;
		height: 60px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(31, 114, 228, 0.75);
		transition: all .2s linear;
		position: absolute;
		top: 50%;
		z-index: 1;
		transform: translateY(-50%);
		svg {
			width: 20px;
			height: 20px;
			fill: $wh;
		}
		&_prev {
			left: 0;
		}
		&_next {
			right: 0;
			svg {
				transform: rotate(180deg);
			}
		}
		&:hover {
			background-color: rgba(31, 114, 228, 1);
		}
	}
}
/*==========/photogallery==========*/

/*===========Contact===========*/
.contact {
	padding: 80px 0;
	position: relative;
	&_page {
		padding: 120px 0  85px;
	}
	&__map {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
	&__box {
		background-color: $wh;
		box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
		padding: 50px;
		width: 48.7%;
		position: relative;
		z-index: 2;
	}
	&__block {
		margin-bottom: 40px;
		padding-bottom: 40px;
		border-bottom: 2px dotted #C4C4C4;
		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
	}
	&__item {
		margin-bottom: 26px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__description {
		font-family: $ff;
		font-size: 16px;
		font-weight: 400;
		color: $gray2;
		line-height: 1.125;
		margin-bottom: 15px;
		span {
			font-weight: 700;
		}
	}
	&__phone {
		display: inline-block;
		font-family: $ff;
		font-size: 30px;
		font-weight: 700;
		color: $bl;
		line-height: $lh;
	}
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__whatspp {
		display: inline-flex;
		align-items: center;
		margin-right: 10px;
		img {
			width: 27px;
			margin-right: 5px;
		}
		span {
			font-family: $ff;
			font-size: 16px;
			font-weight: 700;
			color: $bl;
			line-height: $lh;
			position: relative;
			&:after {
				content: "";
				width: 100%;
				height: 1px;
				background-color: $bl;
				opacity: 0.25;
				position: absolute;
				bottom: 1px;
				left: 0;
				z-index: 1;
				transition: all .2s linear;
			}
			&:hover {
				&:after {
					opacity: 1;
				}
			}
		}
	}
	&__mail {
		display: inline-block;
		font-family: $ff;
		font-size: 16px;
		font-weight: 400;
		color: $bl;
		line-height: $lh;
		position: relative;
		&:after {
			content: "";
			width: 100%;
			height: 1px;
			background-color: $bl;
			opacity: 0.25;
			position: absolute;
			bottom: 1px;
			left: 0;
			z-index: 1;
			transition: all .2s linear;
		}
		&:hover {
			&:after {
				opacity: 1;
			}
		}
	}
	&__data {
		display: inline-block;
		font-family: $ff;
		font-size: 22px;
		font-weight: 700;
		color: $bl;
		line-height: $lh;
		margin-bottom: 10px;
		@media(max-width: 1600px) {
			@include adaptive-font(22, 18);
		}
		br {
			display: none;
		}
	}
	&__geo {
		display: flex;
		align-items: center;
		img {
			margin-right: 8px;
		}
		span {
			font-family: $ff;
			font-size: 14px;
			font-weight: 400;
			color: $bl;
			line-height: $lh;
		}
	}
	&__link {
		margin-top: 30px;
		display: none;
		font-family: $ff;
		font-size: 16px;
		font-weight: 700;
		color: $blue;
		line-height: 1.125;
		position: relative;
		&:after {
			content: "";
			width: 100%;
			height: 1px;
			background-color: #3873DC;
			opacity: 0.25;
			position: absolute;
			bottom: 1px;
			left: 0;
			z-index: 1;
			transition: all .2s linear;
		}
		&:hover {
			&:after {
				opacity: 1;
			}
		}
	}
	.breadcrumbs {
		margin-top: 0;
		margin-bottom: 0;
		position: absolute;
		top: 55px;
		left: 0;
		z-index: 3;
		width: 100%;
		&__list {
			background-color: $wh;
			box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
			border-radius: 50px;
			padding: 6px 15px;
		}
	}
	.ymaps-2-1-79-balloon {
	  background: url("../images/map-all.svg") no-repeat top center;
	  box-shadow: none!important;
	  width: 294px;
	  height: 125px;
	  margin-top: -79px!important;
	  margin-left: -73px;
	}
	
	
	.ymaps-2-1-79-balloon__content,
	.ymaps-2-1-79-balloon__layout {
	 opacity: 0!important;
	}
	
	.ymaps-2-1-79-balloon_to_top .ymaps-2-1-79-balloon__tail {
	  display: none;
	}

	.ymaps-2-1-79-map-copyrights-promo {
		//display: none;
	}

	.ymaps-2-1-79-gototaxi, .ymaps-2-1-79-gototech {
		display: none;
	}

	[class*="ymaps-2-1"][class*="-ground-pane"] {
		-webkit-filter: grayscale(100%);
	}
}
/*===========/contact===========*/

/*=================Adaptive===============*/
@media(max-width: 1170px) {
	.intro {
		padding: 96px 0 118px;
	}

	.about {
		&__info {
			padding-left: 40px;
		}
	}

	.history {
		&__certificates {
			padding-left: 60px;
		}
	}

	.models {
		&__tab {
			&.swiper {
				margin: 0 -15px;
				padding: 0 15px;
			}
		}
	}

	.service {
		&_bw {
			.service__item {
				width: calc(28.65% - 15px);
				&_big {
					width: calc(37.5% - 15px);
				}
				&_large {
					width: calc(42.7% - 15px);
				}
			}
		}
		&__inner {
			margin-right: -15px;
			&.swiper {
				margin-right: -15px;
			}
		}
		&__item {
			width: calc(29.25% - 15px);
			margin-right: 15px;
			&.swiper-slide {
				width: calc(29.25% - 15px);
				margin-right: 15px;
			}
			&_big {
				width: calc(37.5% - 15px);
				&.swiper-slide {
					width: calc(37.5% - 15px);
				}
			}
			&_large {
				width: calc(41.5% - 15px);
				margin-right: 15px;
				&.swiper-slide {
					width: calc(41.5% - 15px);
					margin-right: 15px;
				}
			}
		}
		&__contact {
			right: 15px;
			width: 23.5%;
			&_big {
				width: calc(42.7% - 15px);
				.contact-box__list-name {
					font-size: 12px;
				}
			}
			.contact-box {
				padding: 15px;
			}
		}
	}

	.repair {
		&__content {
			&_engine {
				img {
					max-width: 90%;
				}
			}
		}
	}

	.laboratory {
		&__photo {
			img {
				min-height: 250px
			}
			&:after {
				height: 40%;
			}
		}
		&__inner {
			margin-top: -100px;
		}
	}

	.application {
		.form {
			&__row {
				flex-wrap: wrap;
				.form__item {
					width: calc(50% - 20px);
				}
				.btn {
					height: 100%;
				}
			}
		}
	}
	.contact {
		&__box {
			padding: 34px 30px;
			min-width: 500px;
		}
	}
}

@media(max-width: 991px) {
	.about {
		&_repair {
			padding: 20px 0;
			.about-video {
				width: 100%;
			}
			.about__info {
				width: 100%;
			}
		}
		&__inner {
			flex-direction: column;
		}
		&-video {
			width: 100%;
			margin-bottom: 20px;
		}
		&__info {
			width: 100%;
			padding-left: 0;
			text-align: center;
		}
		&__title {
			margin-bottom: 16px;
		}
		&__description {
			margin-bottom: 24px;
		}
	}

	.history {
		&__info {
			width: 60%;
		}
		&__certificates {
			padding-left: 40px;
			width: 40%;
		}
		&__title {
			margin-bottom: 24px;
		}
		&__description {
			margin-bottom: 25px;
		}
	}

	.advantages {
		&__title {
			margin-bottom: 16px;
		}
		&__description {
			margin-bottom: 24px;
		}
	}

	.models {
		padding-top: 80px;
	}

	.service {
		&_bw {
			.service__photo {
				img {
					height: 200px;
				}
			}
			.service__contact {
				.contact-box {
					&_more {
						height: 230px;
					}
				}
			}
			.service__item {
				.service__info {
					width: 92%;
				}
			}
		}
		&__inner {
			&.swiper {
				margin-right: -15px;
				padding-right: 15px;
			}
		}
		&__swiper {
			.service__wrapper {
				flex-wrap: nowrap;
				margin-bottom: 0;
			}
			.service__item {
				margin-bottom: 0;
				margin-right: 0;
				padding-bottom: 0;
				&.swiper-slide {
					margin-right: 0;
				}
			}
			.service__contact {
				margin-top: 10px;
				position: static;
				width: 100%;
				.contact-box {
					padding: 32px;
					height: auto;
				}
			}
		}
		&__info {
			bottom: 0;
			width: 68%;
		}
	}

	.contact-box {
		&__list {
			li {
				font-size: 14px;
			}
			&_min {
				padding-left: 0;
				.contact-box__list-name {
					font-size: 12px;
				}
			}
		}
		&__title {
			&.mb-40 {
				margin-bottom: 20px;
			}
		}
	}

	.repair {
		&.section {
			margin-bottom: 0;
		}
		&__box {
			padding-top: 40px;
			padding-bottom: 40px;
			&:after {
				border-radius: 50%;
				width: 85.2%;
			}
			&:nth-child(2), &:last-child {
				.repair__description {
					margin-bottom: 0;
				}
			}
			&:last-child {
				&:before {
					height: calc(100% - 66.5px);
				}
			}
		}
		&__description {
			margin-bottom: 0;
			max-width: 100%;
		}
		&__info {
			width: 100%;
		}
		&__content {
			height: auto;
			padding-bottom: 0;
			margin-top: 25px;
			position: relative;
			&_transm {
				width: 100%;
				padding-top: 85px;
				margin-bottom: 38px;
			}
			&_engine {
				width: 100%;
				padding-left: 110px;
				padding-top: 22px;
				margin-bottom: 28px;
				img {
					max-width: 100%;
				}
				.repair__price {
					&:after {
						width: 65px;
						top: calc(100% + 54px);
						right: auto;
						left: 30px;
					}
					&:before {
						height: 45px;
						top: calc(100% + 11px);
						left: 28px;
					}
				}
			}
			&_body {
				width: 100%;
				padding-bottom: 0;
				padding-top: 90px;
				padding-left: 35px;
				margin-bottom: 45px;
				.repair__price {
					&:after {
						width: 50px;
						left: 80px;
					}
					&:before {
						right: -60px;
					}
				}
			}
		}
		&__price {
			width: 120px;
			top: 0;
			left: 0;
			&:after {
				width: 35px;
				left: auto;
				right: 25px;
				transform: translate(100%, 50%);
			}
			&:before {
				height: 46px;
				left: auto;
				right: -10px;
			}
			&-num {
				font-family: $ff;
				font-weight: 400;
			}
			&-desc {
				font-size: 11px;
			}
		}
	}

	.application {
		&__form {
			position: relative;
			padding-bottom: 50px;
		}
		.form-agree {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			z-index: 1;
			label {
				flex-direction: row-reverse;
				justify-content: flex-end;
			}
			&__desc {
				margin-right: 0;
				margin-left: 10px;
			}
			input {
				right: auto;
				left: 0;
			}
		}
	}

	.photogallery {
		&__slide {
			img {
				height: 240px;
			}
		}
	}
}

@media(max-width: 766px) {
	.history {
		&__title {
			text-align: center;
		}
		&__inner {
			display: block;
		}
		&__info {
			width: 100%;
			margin-bottom: 24px;
		}
		&__certificates {
			width: 100%;
			padding-left: 0;
			.swiper  {
				margin: 0 -15px;
			}
			.slider-arrows {
				max-width: 265px;
				margin: 0 auto;
			}
		}
	}

	.advantages {
		&__inner {
			display: block;
		}
		&__head {
			width: 100%;
			padding-right: 0;
			margin-bottom: 24px;
			text-align: center;
		}
		&__info {
			width: 100%;
		}
		&__item {
			margin-bottom: 16px;
		}
		&__name {
			padding-left: 34px;
			&:before {
				width: 17.25px;
				height: 2.25px;
				left: 3.75px;
			}
			&:after {
				width: 2.25px;
				height: 17.25px;
				left: 11.25px;
			}
		}
		&__text {
			padding-top: 10px;
			padding-left: 34px;
		}
	}

	.models {
		padding-top: 40px;
		&__blur {
			width: 78%;
			opacity: .15;
			&:after {
				border-radius: 50%;
			}
		}
		&__title {
			margin-bottom: 20px;
			text-align: center;
		}
		&__description {
			margin-bottom: 30px;
		}
	}

	.service {
		&__maintitle {
			margin-bottom: 24px;
		}
		&__subtitle {
			margin-bottom: 24px;
		}
		&_bw {
			.service__inner {
				margin-right: 0;
			}
			.service__wrapper {
				margin-bottom: 0;
			}
			.service__item {
				width: 100%;
				margin-right: 0;
				margin-bottom: 0;
				padding: 10px 44px 10px 0;
				border-bottom: 1px solid #E7E7E7;
				border-top: 1px solid #E7E7E7;
				&:after {
					content: "";
					width: 20px;
					height: 20px;
					background: url("../images/arrow-tail_blue.svg") center no-repeat;
					position: absolute;
					top: 10px;
					right: 0;
					z-index: 1;
				}
				.service__info {
					width: 100%;
				}
				&_big, &_large {
					.service__info {
						width: 100%;
					}
				}
			}
			.service__photo {
				display: none;
			}
			.service__info {
				position: static;
				padding: 0;
			}
			.service__title {
				font-size: 22px;
				line-height: 1;
				br {
					display: none;
				}
			}
			.service__contact {
				position: static;
				width: 100%;
				.contact-box {
					height: auto;
					padding: 0;
					background-color: transparent;
					&_more {
						height: auto;
					}
					&__title {
						display: none;
					}
					&__row {
						display: block;
						>* {
							margin-right: 0;
						}
					}
					&__list {
						&-name {
							font-family: $ffi;
							font-size: 22px;
							font-weight: 700;
							color: $blue;
							line-height: 1;
							margin-bottom: 10px;
							position: relative;
							padding-right: 44px;
							&:after {
								content: "";
								width: 20px;
								height: 20px;
								background: url("../images/arrow-tail_blue.svg") center no-repeat;
								position: absolute;
								top: 0;
								right: 0;
								z-index: 1;
							}
						}
						&-price {
							display: block;
							font-family: $ffi;
							gap: 16px;
							font-weight: 600;
							color: $bl;
							line-height: 1.21;
						}
						li {
							margin-bottom: 0;
							padding: 10px 0;
							border-bottom: 1px solid #E7E7E7;
							border-top: 1px solid #E7E7E7;
							&:before {
								display: none;
							}
						}
					}
				}
			}
		}
	}

	.laboratory {
		&__photo {
			img {
				width: 155%;
				margin-left: -28%;
				max-height: 66vw;
				object-position: 30% 50%;
			}
			&:after {
				height: 50px;
			}
		}
		&__inner {
			margin-top: -15px;
		}
		&__title {
			margin-bottom: 24px;
			text-align: center;
		}
		&__description {
			margin-bottom: 32px;
		}
	}

	.projects {
		&__title {
			text-align: center;
		}
		&__inner {
			display: block;
			margin-left: 0;
			>* {
				width: 100%;
				margin-left: 0;
			}
		}
		&__box {
			padding-top: 70%;
		}
	}

	.application {
		&_to {
			&.section {
				margin-bottom: 0;
			}
		}
		&__header {
			margin-bottom: 35px;
		}
		&__title {
			text-align: center;
			margin-right: 0;
			font-weight: 700;
		}
		&__form {
			padding-bottom: 0;
		}
		.form {
			&__row {
				margin-left: 0;
				.form__item {
					width: 100%;
					margin-left: 0;
					&:last-child {
						padding-top: 50px;
						margin-bottom: 0;
					}
				}
				.btn {
					padding: 19px 10px;
					span {
						&:first-child {
							display: none;
						}
						&:nth-child(2) {
							display: inline-block;
						}
					}
				}
			}
		}
		.form-agree {
			bottom: 75px;
		}
	}

	.photogallery{
		&__title {
			display: block;
		}
		&__arrow {
			display: none;
		}
		.swiper-pagination {
			bottom: 20px!important;
		}
		.swiper-pagination-bullet {
			width: 10px;
			height: 10px;
			background-color: $wh;
			opacity: 0.5;
			margin: 0 15px 0 0!important;
			&:last-child {
				margin-right: 0!important;
			}
			&.swiper-pagination-bullet-active {
				opacity: 1;
			}
		}
	}

	.contact {
		padding: 50px 0;
		&_page {
			padding: 0;
		}
		.breadcrumbs {
			position: static;
			&__list {
				padding: 0;
				background-color: transparent;
				box-shadow: none;
			}
		}
		&__link {
			display: inline-block;
		}
		&__map {
			display: none;
		}
		&__box {
			min-width: auto;
			width: 100%;
			padding: 34px 0;
			text-align: center;
		}
		&__block {
			padding-left: 30px;
			padding-right: 30px;
			margin-bottom: 35px;
			padding-bottom: 35px;
		}
		&__description {
			font-size: 14px;
			margin-bottom: 10px;
		}
		&__row {
			flex-direction: column;
		}
		&__whatspp {
			margin-right: 0;
			margin-bottom: 12px;
		}
		&__geo {
			justify-content: center;
		}
	}
}

@media(max-width: 546px) {
	.section {
		margin-bottom: 50px;
	}
	.description {
		font-size: 14px;
		&_big {
			font-size: 14px;
		}
		p {
			margin-bottom: 15px;
		}
	}
	.btn {
		font-size: 14px;
		padding: 15.5px 29px;
	}
	.intro {
		background-position: center right 40%;
		&__title {
			margin-bottom: 15px;
		}
		&__description {
			font-size: 16px;
			margin-bottom: 40px;
			.mobile-none {
				display: none;
			}
		}
		.btn {
			span {
				&:first-child {
					display: none;
				}
				&:last-child {
					display: inline-block;
				}
			}
		}
	}

	.about {
		&-video {
			&__icon {
				img {
					width: 60px;
				}
			}
		}
	}

	.history {
		&-founder {
			&__info {
				margin-right: 10px;
			}
			&__name {
				font-size: 16px;
			}
			&__stat {
				font-size: 13px;
			}
			&__sign {
				img {
					width: 113px;
				}
			}
		}
	}

	.certificates {
		&__photo {
			padding: 15px;
		}
		&__description {
			font-size: 13px;
		}
	}

	.advantages {
		.btn {
			padding: 15.5px 32px;
		}
	}

	.models {
		&__nav {
			margin-bottom: 20px;
		}
		.tabs-nav {
			a {
				font-size: 16px;
				padding: 0 0px 15px;
				letter-spacing: 0.04em;
				.mobile-none {
					display: none;
				}
				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					padding-right: 0;
				}
			}
		}
		&__item {
			padding: 0;
		}
		&__photo {
			margin-bottom: 20px;
		}
		&__name {
			font-size: 14px;
		}
	}

	.repair {
		&__box {
			margin: 0 -15px;
			padding: 40px 15px 40px 60px;
			&:last-child {
				&:before {
					height: calc(100% - 61.5px);
				}
			}
			&:before {
				left: 25px;
			}
		}
		.btn {
			&:before {
				width: 31px;
			}
		}
		&__title {
			margin-bottom: 15px;
			&:before {
				width: 22px;
				height: 22px;
				left: -45px;
				background-size: 75%;
			}
		}
		&__content {
			&_transm {
				img {
					max-width: calc(100% + 45px);
					margin-left: -45px;
				}
			}
		}
	}

	.laboratory {
		.form__row_four {
			display: none;
		}
	}

	.photogallery {
		&.section {
			margin-bottom: 50px;
		}
	}
}

@media(max-width: 414px) {
	.service {
		&__photo {
			img {
				height: 185px;
			}
		}
		&__info {
			padding: 11px 12px 5px 12px;
		}
		&__title {
			margin-bottom: 5px;
		}
		&__description {
			font-size: 14px;
		}
		&__contact {
			.contact-box {
				padding: 20px;
			}
		}
	}

	.projects {
		&__box {
			padding-top: 100%;
		}
		&__desc {
			font-size: 15px;
		}
	}

	.contact {
		&__data {
			br {
				display: block;
			}
		}
	}
}

@media(max-width: 376px) {
	.application {
		&__title {
			padding: 0 70px;
		}
	}
}

@media(max-width: 360px) {
	.title-big {
		font-size: 17px;
	}
	.service {
		&__info {
			padding: 11px 7px 5px 7px;
		}
		&_bw {
			.service__title {
				font-size: 20px;
			}
			.service__contact {
				position: static;
				width: 100%;
				.contact-box {
					&__list {
						&-name {
							font-size: 20px;
						}
					}
				}
			}
		}
	}
	.projects {
		&__name {
			img {
				margin-right: 7px;
			}
			span {
				font-size: 14px;
			}
		}
	}
	.application {
		.form-agree {
			&__desc {
				font-size: 11px;
				margin-left: 7px;
			}
		}
	}

	.photogallery {
		&__slide {
			img {
				height: 200px;
			}
		}
		.swiper-pagination{
			bottom: 10px!important;
		}
	}

	.contact {
		&__phone {
			font-size: 25px;
		}
		&__data {
			font-size: 16px;
		}
		&__geo {
			img {
				margin-right: 5px;
			}
			span {
				font-size: 11px;
			}
		}
	}
}
/*=================/adaptive===============*/